body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: #d6ee1b;
  }
  
.coolBtn {
    display: grid;
    gap: 0.5rem;
    width: calc(2*22.5rem + 0.5rem);
    grid-auto-flow: column;
}

button {
    width: 0;
  min-width: calc(100% + 1rem/2);
  height: 7rem;
  object-fit: cover;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  cursor: pointer;
  transition: .5s;
  font-size: 2rem;
}

button:first-child {
    background-color: rgb(218, 14, 82);
    color: #fff;
    place-self: start;
    clip-path: polygon(calc(2*1rem) 0,100% 0,100% 100%,0 100%);
    --mask: 
      conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg) 
        50%/100% calc(2*1rem) repeat-y;
  }

 button:last-child {
    background-color: rgb(14, 14, 240);
    color: #fff;
    place-self: end;
    clip-path: polygon(0 0,100% 0,calc(100% - 2*1rem) 100%,0 100%);
    --mask: 
      conic-gradient(from   45deg at left ,#0000,#000 1deg 89deg,#0000 90deg) 
        50% calc(50% - 1rem)/100% calc(2*1rem) repeat-y;
  }
  
button:hover {
    width: calc(22.5rem/2);
}